form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    width: 25vw;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1); /* Transparent or see-through bg */
    border: 3px inset burlywood;
    position: absolute;
    width: 28%;
    height: 59%;
}
h1,b,p{
    text-align: center;
    color:whitesmoke;
    padding: 10px;
    padding-bottom: 10px;
}
h1{
    font-size: 40px;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
}
b{
    font-size: 20px;
}
  input {
    margin: 0.25em 0em 1em 0em;
    outline: none;
    padding: 10px;
    border: none;
    background-color:blanchedalmond;
    border-radius: 0.25em;
    color:black;
  }
  button {
    padding: 0.75em;
    border: none;
    outline: none;
    background-color: rgb(68, 18, 232);
    color: white;
    border-radius: 0.25em;
  }
  
  /* hover functionality for button */
  button:hover {
    cursor: pointer;
    background-color: rgb(41, 4, 164);
  }
  button{
    margin-top: 15px;
  }
